$bgColor: #444;
$borderColor: #d4d4d4;
$color: #fff;
/* Couleurs réseaux sociaux */
$colorFacebook: #4267B2;
$colorTwitter: #1DA1F2;
$colorYoutube: #ff0000;
$colorGithub: #1B1F23;
$colorLinkedin: #007BB6;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.carousel-item {
    width: 100%;
    max-height: 550px;
}

body {

    .navbar {

        background-color: #418FDE;

        a {
            font-weight: 900;
        }
    }


    .divMenuL {

        ul {



            li {

                a {
                    font-weight: bold;
                    font-size: 1.1em;
                    transition: all .3s;
                }

                a:hover {
                    color: $color !important;
                }

                .dropdown-menu {
                    a {
                        color: #444 !important;
                    }
                }
            }
        }
    }


 section.container div.d-flex div img{
                height: auto;
    }
    
    section.container{
        margin-top: 80px;
        padding: 0 15px 30px 15px;

        .boxProgress1{
        }

        div.progressBar{
            
            span{
                display:block;
                font-size: 1.1em;
                font-weight: 600;
                color: #444444;
                padding: 10px 0;
            }

            svg {
            width: 70%;

.circular-chart {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.grey{
  stroke: #d0d2d8;/*#363636;*/
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  filter: drop-shadow(0 0 .2px #000);
}

.circle {
  /*stroke: #4CE98D;  <= la couleur de base */
  fill: none;
  stroke-width: 2.9;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  filter: drop-shadow(0 0 .2px #000);
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.html{
    stroke: #fa8d11;
}
.css{
    stroke: #264ee4;
}
.javascript{
    stroke: #f7df1e;
}
.php{
    stroke: #8892bf;
}
.python{
    stroke: #346F9F;
}
.ruby{
    stroke: #be1702;
}
            }

        }
    }
    

    div form label:not(.form-check-label) {
        font-size: 1.2em;
    }

    .envoie {
        display: block;
    }



    footer {
        font-size: 1em;
        font-weight: 900;
        border-top: 4px solid $borderColor;

        div {
            text-align: right;
            
            a{
                color: inherit;
            }
        }

        p,
        address {
            color: #555;
        }

        .fa:not(.fa-copyright) {
            font-size: 2.5em;
            padding: 0 10px;
        }

        .fa-facebook-square:hover {
            color: $colorFacebook;
        }

        .fa-twitter:hover {
            color: $colorTwitter;
        }

        .fa-youtube-play:hover {
            color: $colorYoutube;
        }

        .fa-github:hover {
            color: $colorGithub;
        }

        .fa-linkedin-square:hover {
            color: $colorLinkedin;
        }
    }


    .google{
        display: flex;
        margin: 100px 0;
        margin-bottom: 100px !important;

        .googleMap{
            display: block;
            margin: 0 auto;
            width: 90%;
            height: 500px;
            align-self: center;
        }

    }
    
}

